h1 {
  margin: 0;
}

.genres {
  margin: -2em 0 0 0;
  padding: 2rem;

  box-shadow: 5px 7px 11px -8px #777;
}

.search-results {
  width: 100%;
  padding: 0 2rem;

  .search-results-header {
    display: flex;
    flex-direction: row;

    align-items: center;

    .mat-button {
      padding: 0 0.5rem;
      margin-left: 0.5rem;

      min-width: unset;
    }
  }
  
  .search-results-group-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    margin-bottom: 2rem;

    info-paragraph:first-of-type {
      margin-top: 0.25rem;
    }
  }
}

.genre-label {
  display: inline-block;

  background-color: #9c27b0;
  color: white;

  padding: 0.5rem 0.75rem;
  margin: 0.25rem 0.25rem 0;

  border-radius: 20px;
}
