<div class="content" role="main">
  <router-outlet></router-outlet>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <!-- <mat-label>Search</mat-label> -->
      <input matInput name="searchTerm" type="search" placeholder="Search" [(ngModel)]="searchTerm">
      <button mat-raised-button (click)="search()" color="primary">Search</button>
    </mat-form-field>
  </form>

  <div *ngFor="let genre of genres">
    <mat-checkbox [(ngModel)]="genre.checked">{{ genre.name }}</mat-checkbox>
  </div>

</div>
